<div style="height: 200px; background: linear-gradient(rgba(25, 25, 25, 0.71), rgba(0, 0, 0, 0.58)), url('assets/contact-83dde3aa3b1f525163d438a01772c1bbd7ddc8712a6304ac995133664fbf88de.jpg');   background-size: cover; };">

</div>


<div style="min-height: 500px;">

  <%= @recent.content.html_safe if @recent %>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>

</div>


<span style="left: 0; position: absolute;margin-left: 40px;">
<%= link_to("← Newer News", @blog.next_post) if @blog.next_post %>
</span>


<span style="right: 0; position: absolute;margin-right: 40px;">
<%= link_to("Older News →", @blog.previous_post) if @blog.previous_post %>
</span>


<br>
<br>

</div>