<% content_for :title, "LeanNews Admin Panel" %>

<!-- Header Image & Text -->

<div class="header_image"> 
  <div class="header_container">
    <p class="header_text"> Admin Panel </p> 
  </div>
</div>

<!-- LeanDaily Post Table -->

<div class="leantable">
<div id="notice"><%= notice %> </div>

  <div class="container">
    <h2> LeanDaily <%= link_to 'New Post', new_daily_path, :class => 'btn btn-success btn-sm' %> </h2>  
      <table class="table">
        <tbody>
          <% @dailies.each do |daily| %>
            <tr>
             <td><%= link_to daily.title, daily %></td>
             <td><%= link_to 'Edit', edit_daily_path(daily), :class => 'btn btn-warning btn-sm' %></td>
             <td><%= link_to 'Destroy', daily, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-sm' %></td>
           </tr>
         <% end %>
        </tbody>
     </table>
  </div> 

<!-- LeanEvent Post Table -->

  <div class="container">
    <h2> LeanEvent <%= link_to 'New Post', new_event_path, :class => 'btn btn-success btn-sm' %> </h2>  
      <table class="table">
        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= link_to event.title, event %></td>
              <td><%= link_to 'Edit', edit_event_path(event), :class => 'btn btn-warning btn-sm' %></td>
              <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-sm' %></td>
            </tr>
         <% end %>
        </tbody>
     </table>
  </div> 
  
<!-- LeanBlog Post Table -->

  <div class="container">
    <h2> LeanBlogs <%= link_to 'New Post', new_blog_path, :class => 'btn btn-success btn-sm' %> </h2>  
      <table class="table">
        <tbody>
          <% @blogs.each do |blog| %>
            <tr>
              <td><%= link_to blog.title, blog %></td>
              <td><%= link_to 'Edit', edit_blog_path(blog), :class => 'btn btn-warning btn-sm' %></td>
              <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-sm' %></td>
            </tr>
         <% end %>
        </tbody>
     </table>
  </div> 

</div>
</div>