<div style="height: 150px; background: linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.59)) , url(assets/about-7b58b79edfb0231e6812ba29e16f15315fe4828606dc5df845d12eca47ddfa63.jpg);background-size: cover;">

<div class="container" style="padding-top: 50px; padding-left: 20px; padding-right: 20px;">

<p style="text-align: center; font-size: 30px; font-family: Ubuntu; font-weight: bold; color: white;">LeanEvents </p> 

</div> 
</div>

<div class="container" style="min-height: 300px;padding-left: 30px;padding-right: 30px;">

<p id="notice"><%= notice %></p>


<table class="col-lg-8 col-md-8" style="margin: 20px auto; max-width: 600px;">
    <tbody>
  <% @events_am.each do |event| %>
        <tr> 
          <td> <a style="color: #FB9727; font-size: 20px; font-family: avenir; font-weight: 700; padding-right: 20px;" href="<%= event.link %>" target="_blank"> <%= event.title %> </a>  
          </td> 
         <td style=" background-color: #EAEAEA; font-size: 16px; font-family: ubuntu; text-align: center; border-radius: 4px; font-weight: 700; padding: 5px 10px; border: 5px solid #F7F7F7;"> <%= format_price(event) %> </td> 
        </tr>
        <tr style="font-size: 14px; font-weight: 700;"> <td style="padding: 0px 0px 4px 0px;"> <%= event.start.strftime('%l:%M %P') %> - <%= event.end.strftime('%l:%M %P') %> </td> </tr>
        <tr style="font-style: oblique; font-size: 14px;"> <td style="padding: 0px 0px 40px 0px;"> <%= event.address %>, <%= event.city %>, <%= event.state %> <%= event.country %>   </td> </tr>
    <% end %>
  </tbody>
</table>

<div class="col-lg-4 col-md-4" style="margin: 20px auto; border-left: 1px solid black">

asd

</div>

</div>