<%= render 'header' %>

<div style="min-height: 500px;padding-top: 60px;">

<span id="notice"><%= notice %></span>


  Title: <%= @event.title %>
  <br>
  Location: <%= @event.location %>
  <br>
  Date: <%= @event.date %>
  <br>
  Start Time: <%= @event.start_time %>
  <br>
  End Time: <%= @event.end_time %>
  <br>
  Price: <%= @event.price %>
  <br>
  Who: <%= @event.who %>

  <br>
  <br>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

</div>
