<% content_for :title, @event.title %>

<div style="height: 150px; background: linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.59)) , url(assets/about-7b58b79edfb0231e6812ba29e16f15315fe4828606dc5df845d12eca47ddfa63.jpg);background-size: cover;">

<div class="container" style="padding-top: 40px; padding-left: 20px; padding-right: 20px;">

<h1 style="text-align: center; font-size: 30px; font-family: Ubuntu; font-weight: bold; color: white;"> <%= @event.title %> </h1> 

</div> 
</div>

<div style="min-height: 300px;padding-top: 60px;">

<p id="notice"><%= notice %></p>



  Location: <%= @event.address %>
  <br>
  When: <td> <%= @event.start.strftime('%l:%M %p') %> - <%= @event.end.strftime('%l:%M %p %Z') %> </td>
  <br>
  Price: <%= format_price(@event) %>
  <br>

  <br>
  <br>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

</div>
