<div style="height: 150px; background: linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.59)) , url(assets/about-7b58b79edfb0231e6812ba29e16f15315fe4828606dc5df845d12eca47ddfa63.jpg);background-size: cover;">

<div class="container" style="padding-top: 60px; padding-left: 20px; padding-right: 20px;">

<p style="text-align: center; font-size: 30px; font-family: Ubuntu; font-weight: bold; color: white;">LeanDaily </p> 

<p style="text-align: center; font-size: 15px; font-family: Ubuntu; font-weight: bold; color: white; margin-top: -10px;"> Admin Panel </p>

</div>
</div>

<div style="min-height: 300px;">

<div id="notice"><%= notice %></div>

<div style="text-align: center">
  <%= will_paginate @dailies %>
</div>

<div class="container">
  <h2>LeanDaily <%= link_to 'New Post', new_daily_path, :class => 'btn btn-success btn-sm' %> </h2>          
  <table class="table">
    <thead>
    <% @dailies.each do |daily| %>
      <tr>
        <td><%= link_to daily.title, daily %></td>
        <td><%= link_to 'Edit', edit_daily_path(daily), :class => 'btn btn-warning btn-sm' %></td>
        <td><%= link_to 'Destroy', daily, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
  
</div>
</div>