<title><%= @daily.title %></title>

<!-- Homepage Link -->

<div class="backlink">
  <a href="/">
    <i class="glyphicon glyphicon-chevron-left backlink_glyph"> </i> Back to Sign Up
  </a>
</div>

<!-- Daily Post -->

<div class="post_body">
  <span id="notice"><%= notice %></span>
   <%= @daily.content.html_safe %>

<!-- Sign Up Box -->

<%= render 'dailysignupform' %>

<!-- Daily Navigation -->

<span class="new_news">
<%= link_to("← Newer News", @daily.next_post) if @daily.next_post %>
</span>


<span class="old_news">
<%= link_to("Older News →", @daily.previous_post) if @daily.previous_post %>
</span>


<br>
<br>

</div>