<!DOCTYPE html>
<html style="background-color: rgb(41, 44, 47);">



<head>

  <title>LeanNews</title>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=PT Serif' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="_ETPrgzY4Omv-tkfCASePwxM7Ok3-xrQO1ILw9oWlrk" />

</head>

<body>

<%= render "layouts/header" %>
  
  <div id="container">

<%= yield %>


	<%= render "layouts/footer" %>

</body>

</html>